@import "tailwindcss";

/* Styling dasar Body */
body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}

/* Proteksi agar ikon SVG tidak membesar liar */
svg {
    max-width: 100%;
    height: auto;
}